article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0; }

a:focus {
  outline: thin dotted; }
a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

small {
  font-size: 80%; }

sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, select {
  text-transform: none; }

button, html input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer; }

input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }
  input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

a {
  color: #aaaaaa;
  text-decoration: none; }
  a:hover, a:active {
    color: #00adef; }

html, body {
  height: 100%;
  width: 100%;
  overflow: hidden; }

header, footer {
  background: #333;
  color: #aaaaaa;
  position: fixed;
  width: 100%; }

header {
  height: 50px;
  top: 0; }
  header > div {
    display: inline-block; }
  header .logo {
    color: #00adef;
    padding: 10px;
    font-size: 32px;
    vertical-align: top; }
  header .view-options-wrapper {
    position: relative;
    top: 5px;
    height: 40px;
    text-align: center;
    margin: 0 0 0 20px; }
    header .view-options-wrapper .label {
      position: relative;
      top: -5px; }
    header .view-options-wrapper .filters, header .view-options-wrapper .sort-options {
      display: inline-block;
      position: relative;
      height: 40px; }
    header .view-options-wrapper .filters {
      height: 40px; }
    header .view-options-wrapper .sort-options {
      top: -5px; }
      header .view-options-wrapper .sort-options .sort-option {
        margin: 0 3px; }
  header .button.add, header .add.status-icon {
    position: absolute;
    top: 5px;
    right: 10px; }

footer {
  height: 20px;
  bottom: 0;
  font-size: 12px;
  text-align: right;
  padding: 4px; }

.is-hidden {
  display: none !important; }

.is-interactive {
  cursor: pointer !important; }

.is-not-selectable {
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.modal-window-wrapper, .modal-window-wrapper .mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center; }
  .modal-window-wrapper:before, .modal-window-wrapper .mask:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em; }
  .modal-window-wrapper .mask {
    background: #FFF;
    opacity: 0.7; }
  .modal-window-wrapper .modal-window {
    color: #aaaaaa;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    padding: 20px;
    max-height: 90%;
    background: #333333;
    border: 1px solid black;
    padding: 20px;
    border-radius: 10px; }
    .modal-window-wrapper .modal-window .title {
      font-size: 24px; }

.button, .status-icon {
  color: #aaaaaa;
  display: inline-block;
  height: 40px;
  min-width: 40px;
  background: url(/imgs/icon_sprite.png) left top no-repeat; }
  .button.has-label, .has-label.status-icon {
    padding: 21px 0 0 42px; }
  .button:hover, .status-icon:hover {
    color: #00adef;
    border-color: #666; }
  .button.add, .add.status-icon {
    background-position: 0 -50px; }
    .button.add:hover, .add.status-icon:hover {
      background-position: 0 0px; }
  .button.cancel, .cancel.status-icon {
    background-position: 0 -200px; }
    .button.cancel:hover, .cancel.status-icon:hover {
      background-position: 0 -100px; }
  .button.delete, .delete.status-icon {
    background-position: 0 -200px; }
    .button.delete:hover, .delete.status-icon:hover {
      color: #951c19;
      background-position: 0 -150px; }
  .button.archive, .archive.status-icon, .button.archived, .archived.status-icon {
    background-position: 0 -350px; }
    .button.archive.is-selected, .archive.is-selected.status-icon, .button.archived.is-selected, .archived.is-selected.status-icon {
      background-position: 0 -300px; }
    .button.archive:hover, .archive.status-icon:hover, .button.archived:hover, .archived.status-icon:hover {
      background-position: 0 -250px; }
  .button.unarchive, .unarchive.status-icon, .button.unarchived, .unarchived.status-icon {
    background-position: 0 -500px; }
    .button.unarchive.is-selected, .unarchive.is-selected.status-icon, .button.unarchived.is-selected, .unarchived.is-selected.status-icon {
      background-position: 0 -450px; }
    .button.unarchive:hover, .unarchive.status-icon:hover, .button.unarchived:hover, .unarchived.status-icon:hover {
      background-position: 0 -400px; }
  .button.save, .save.status-icon {
    background-position: 0 -600px; }
    .button.save:hover, .save.status-icon:hover {
      background-position: 0 -550px; }

.status-icon.none {
  background-position: 0 -750px; }
  .status-icon.none.is-selected {
    background-position: 0 -700px; }
  .status-icon.none:hover {
    background-position: 0 -650px; }
.status-icon.pending {
  background-position: 0 -900px; }
  .status-icon.pending.is-selected {
    background-position: 0 -850px; }
  .status-icon.pending:hover {
    background-position: 0 -800px; }
.status-icon.started {
  background-position: 0 -1050px; }
  .status-icon.started.is-selected {
    background-position: 0 -1000px; }
  .status-icon.started:hover {
    background-position: 0 -950px; }
.status-icon.complete {
  background-position: 0 -1200px; }
  .status-icon.complete.is-selected {
    background-position: 0 -1150px; }
  .status-icon.complete:hover {
    background-position: 0 -1100px; }
.status-icon.critical {
  padding-top: 18px;
  background-position: 0 -1350px; }
  .status-icon.critical.is-selected {
    background-position: 0 -1300px; }
  .status-icon.critical:hover {
    background-position: 0 -1250px; }

.inputs {
  display: inline-block;
  width: 250px;
  vertical-align: top;
  padding: 0 0 8px 0; }
  .inputs input, .inputs select, .inputs textarea {
    padding: 5px;
    margin: 10px 0 0 0;
    width: 100%;
    border: solid 1px #e5e5e5;
    outline: 0;
    background: -webkit-gradient(linear, left top, left 25, from(white), color-stop(4%, #eeeeee), to(white));
    background: -moz-linear-gradient(top, white, #eeeeee 1px, white 25px);
    border-radius: 3px; }
  .inputs textarea {
    max-width: 250px;
    height: 117px;
    min-height: 117px;
    max-height: 200px; }

.quadrants {
  padding: 50px 0 20px 0;
  height: 100%; }

.half {
  position: relative;
  width: 100%;
  height: 50%; }

.quadrant {
  position: absolute;
  width: 50%;
  height: 100%; }
  .quadrant.left {
    padding-right: 0.5px; }
  .quadrant.right {
    padding-left: 0.5px;
    left: 50%; }
  .top .quadrant {
    padding-bottom: 0.5px; }
  .bottom .quadrant {
    padding-top: 0.5px; }
  .quadrant.drop-target {
    border: 1px solid red; }

.quadrant-label {
  position: absolute;
  background: #EEE;
  width: 100%;
  height: 25px;
  padding-top: 4px; }
  .quadrant-label.left {
    width: 25px;
    height: 100%; }
    .quadrant-label.left ~ .task-list-wrapper {
      padding-left: 25px; }
  .quadrant-label.top {
    width: 100%;
    height: 25px;
    padding-left: 5px; }
    .quadrant-label.top ~ .task-list-wrapper {
      padding-top: 25px; }
  .quadrant-label.left .text {
    position: relative;
    width: 100px;
    right: 37px;
    top: 45px;
    text-align: right;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg); }
  .half.top .quadrant.left .quadrant-label.top {
    padding-left: 25px; }
  .half.top .quadrant.left .quadrant-label.left {
    padding-top: 25px; }

.divider {
  background: #999;
  position: absolute; }

.vertical-divider {
  width: 1px;
  height: 100%;
  left: 50%;
  margin-left: -0.5px; }

.horizontal-dividers {
  position: absolute;
  width: 100%;
  height: 1px;
  margin-top: -0.5px; }
  .horizontal-dividers .horizontal-divider {
    height: 1px;
    width: 50%; }
    .horizontal-dividers .horizontal-divider.right {
      left: 50%; }

.task-list-wrapper {
  height: 100%;
  width: 100%;
  margin: 0 0 0.1px 0; }
  .task-list-wrapper .scroll-panel {
    padding: 25px;
    padding-bottom: 15px;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto; }
    .task-list-wrapper .scroll-panel .task-list {
      position: relative;
      margin: 0 0 0.1px 0; }

.task {
  cursor: pointer;
  position: absolute;
  height: 52px;
  width: 100%;
  border-radius: 5px; }
  .task .top-layer, .task .bottom-layer {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 5px; }
  .task .top-layer {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#266e9c), to(#243e52));
    background-image: -webkit-linear-gradient(top, #266e9c, #243e52);
    background-image: -moz-linear-gradient(top, #266e9c, #243e52);
    background-image: linear-gradient(to bottom, #266e9c, #243e52);
    color: #aaaaaa;
    border: 1px solid black; }
    .task .top-layer .status, .task .top-layer .title, .task .top-layer .drag-affordance {
      display: inline-block;
      height: 40px;
      vertical-align: top;
      margin: 5px; }
    .task .top-layer .title {
      padding: 11px 0 0 0; }
    .task .top-layer .drag-affordance {
      position: absolute;
      top: 0;
      right: 0;
      width: 40px;
      height: 40px;
      border-radius: 20px;
      background-image: -webkit-gradient(linear, left top, left bottom, from(#243e52), to(#266e9c));
      background-image: -webkit-linear-gradient(top, #243e52, #266e9c);
      background-image: -moz-linear-gradient(top, #243e52, #266e9c);
      background-image: linear-gradient(to bottom, #243e52, #266e9c); }
  .task .bottom-layer {
    background: #333333;
    border: 1px solid black; }
    .task .bottom-layer .status-options, .task .bottom-layer .actions {
      height: 40px;
      position: absolute;
      width: auto;
      margin: 5px; }
    .task .bottom-layer .status-options {
      left: 0;
      padding: 0 10px 0 0; }
    .task .bottom-layer .actions {
      right: 0;
      padding: 0 0 0 10px; }
  .task.drop-target {
    border: 2px solid red; }
  .task:hover .top-layer {
    color: #00adef;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#999999), to(#333333));
    background-image: -webkit-linear-gradient(top, #999999, #333333);
    background-image: -moz-linear-gradient(top, #999999, #333333);
    background-image: linear-gradient(to bottom, #999999, #333333); }
    .task:hover .top-layer .drag-affordance {
      background-image: -webkit-gradient(linear, left top, left bottom, from(#333333), to(#999999));
      background-image: -webkit-linear-gradient(top, #333333, #999999);
      background-image: -moz-linear-gradient(top, #333333, #999999);
      background-image: linear-gradient(to bottom, #333333, #999999); }

.status-options {
  display: inline-block;
  width: 150px;
  vertical-align: top; }

.actions {
  margin: 10px 0 0 0; }
  .actions .action-wrapper {
    display: inline-block;
    margin-right: -3px;
    width: 33%;
    text-align: center; }
    .actions .action-wrapper.first {
      text-align: left; }
    .actions .action-wrapper.last {
      text-align: right; }
