//Constants
//---------
$HEADER_HEIGHT : 50px;
$FOOTER_HEIGHT : 20px;
$LABEL_THICKNESS : 25px;
$DIVIDER_THICKNESS : 1px;

$LIGHT_GRAY: #AAA;
$MEDIUM_GRAY: #999;
$DARK_GRAY: #333;
$CYAN: #00ADEF;
$MEDIUM_CYAN: #266e9c;
$DARK_CYAN: #243e52;
$RED: #951c19;

//Variables
//---------
$spritePosition: 0px;