// The horizontal and vertical dividers 
// that seperate the four quadrants.  
.divider {
	background: #999;
	position: absolute;
}
.vertical-divider {
	width: $DIVIDER_THICKNESS;
	height: 100%;
	left: 50%;
	margin-left: -$DIVIDER_THICKNESS/2;
}
.horizontal-dividers {
	position: absolute;
	width: 100%;
	height: $DIVIDER_THICKNESS;
	margin-top: -$DIVIDER_THICKNESS/2;
	.horizontal-divider {
		height: $DIVIDER_THICKNESS;
		width: 50%;
		&.right {
			left: 50%;
		}
	}
}