<div class="modal-window-wrapper">
    <div class="mask"></div>
    <div class="modal-window edit-task-container">
        <div class="title">{{title}}</div>
        <div class="settings">
            <div class="status-options">{{{statusOptionsMarkup}}}</div>
            <div class="inputs">
                <input type="text" id="edit-task-title" value="{{task.title}}" placeholder="Title..." />
                <select id="edit-task-priority" value="{{task.priority}}">
                    {{{selectOptionsMarkup}}}
                </select>
                <textarea id="edit-task-notes" placeholder="Notes...">{{task.notes}}</textarea>
            </div>
        </div>
        <div class="actions">
            <div class="action-wrapper first">
                {{{saveButtonMarkup}}}
            </div>
            <div class="action-wrapper">
                {{{archiveButtonMarkup}}}
            </div>
            <div class="action-wrapper last">
                {{{deleteButtonMarkup}}}
            </div>
        </div>
    </div>
</div>